.cart {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    align-items: flex-start;
}

.cart-title {
    margin: 0;
    font-size: 2.5rem;
}

.cart-list {
    flex: 3 1 60rem;
}

ul.cart-list-container {
    list-style-type: none;
    padding: 0 1rem;
    margin: 0;
}
