.cart {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
}

.cart-list {
    flex: 3 1 60rem;
}

.cart-list-container {
    list-style-type: none;
    padding: 1rem;
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: .1rem #808080 solid;
}

.cart-list-container li img {
    max-width: 10rem;
    max-height: 10rem;
}

.cart-list-container li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
