html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5rem;
  height: calc(100vh - 59px);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
